* {
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 0;
  margin: 0;
}

body {
  background: rgb(183 177 169 / 20%);
  border-top: 60px solid #000;
}

main {
  width: 50%;
  margin: auto;
  box-shadow: 15px 15px 9px 13px rgb(185 176 165 / 20%);
  background-color: #fff;
  padding: 15px;
  margin-top: 100px;
}

h1 {
  padding: 12px;
}

.forms {
  display: flex;
  border-top: 2px solid rgb(128 128 128 / 30%);
  border-bottom: 2px solid rgb(128 128 128 / 30%);
  justify-content: space-between;
  margin: 12px;
  margin-left: 0;
}

.form-btn,
input,
.list-btn {
  outline: none;
  border: 0;
}

input {
  padding: 25px;
  font-size: 25px;
  pointer-events: visible;
}

input::placeholder {
  font-size: 25px;
  font-style: italic;
}

.form-btn,
.list-btn {
  background: transparent;
  pointer-events: visible;
}

.showList {
  pointer-events: none;
}

.list {
  display: flex;
  border-bottom: 2px solid rgb(128 128 128 / 30%);
  padding: 12px;
  justify-content: space-between;
}

.list > input {
  margin-right: 15px;
}

.displayP {
  font-size: 20px;
  font-weight: 600;
}

i,
.form-btn {
  font-size: 25px;
}

.active {
  text-decoration: line-through;
  color: #d3d3d3;
}

.clearBtn {
  display: none;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  border: 0;
  width: 100%;
  color: rgb(60 53 53);
  margin-top: 12px;
  text-transform: uppercase;
}

@media screen and (max-width:768px) {
  main {
    width: 60%;
  }

h1 {
  font-size: 20px;
  line-height: 28px;
}

  input {
    width: 100%;
  }

  i,
.form-btn {
  font-size: 15px;
}

input::placeholder {
  font-size: 13px;
}

.list >div {
  display: flex;
  padding-top: 12px;
}

.mycheckbox {
  padding: 0;
    font-size: 14px;
    width: auto;
    margin-right: 6px;
}

.displayP {
  padding: 0;
  text-overflow: ellipsis;
}

.list-btn{
  padding-top: 12px;
    margin-left: 5px;
}

.clearBtn {
  font-size: 12px;
    font-weight: 500;
}
}

