* {
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 0;
  margin: 0;
}

body {
  background: rgb(183 177 169 / 20%);
  border-top: 60px solid #000;
}

main {
  width: 50%;
  margin: auto;
  box-shadow: 15px 15px 9px 13px rgb(185 176 165 / 20%);
  background-color: #fff;
  padding: 15px;
  margin-top: 100px;
}

h1 {
  padding: 12px;
}

.forms {
  display: flex;
  border-top: 2px solid rgb(128 128 128 / 30%);
  border-bottom: 2px solid rgb(128 128 128 / 30%);
  justify-content: space-between;
  margin: 12px;
  margin-left: 0;
}

.form-btn,
input {
  outline: none;
  border: 0;
}

input {
  padding: 15px;
}

input::placeholder {
  font-size: 20px;
  font-style: italic;
}

.form-btn {
  background: transparent;
}

.list {
  display: flex;
  border-bottom: 2px solid rgb(128 128 128 / 30%);
  padding: 12px;
}

.list > input {
  margin-right: 15px;
}

.displayP {
  font-size: 20px;
  font-weight: 600;
}

.active {
  text-decoration: line-through;
  color: #d3d3d3;
}

.clearBtn {
  /* display: none; */
  padding: 12px;
  font-size: 20px;
  text-align: center;
  border: 0;
  width: 100%;
  color: rgb(60 53 53);
}
